@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  position: relative;
  z-index: 1;
}

.navbar p {
  font-size: 26px;
  color: #fff;
}

.navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.navbar ul li{
  list-style: none;
}

.navbar ul li a{
  padding: 10px 18px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:hover{
  background-color: #4a7729;
}

.navbar h1{
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 10px;
}